/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}

.error{
    color: #da3a3a;
    position: relative;
    bottom: 10px;
}
/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*end reset*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
font-family: 'Share Tech', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
button[type="button"],
button[type="button"],
button[type="submit"],
textarea {
font-family: 'Barlow', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
font-family: 'Barlow', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- //Reset-Code --*/

body {
    background: url(../images/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
h1.header-w3ls {
    text-align: center;
    text-transform: capitalize;
    color:#ffffff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
    letter-spacing: 8px;
}
.info-agile-persnal h3{
	font-size: 30px;
    color: #ff5e00;
    text-align:left;
    margin: 10px 0px;
    letter-spacing: 3px;
}
.art-bothside {
    width: 64%;
    padding: 2em 2em 3em;
    margin: 0em auto;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    background:rgba(255, 255, 255, 0.1);
    border: #fff 9px solid;
}
.form-group ,.form-group-three{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.form-left-w3ls,.form-right-w3ls,.form-mid-w3ls {
    flex-basis: 48%;
    -webkit-flex-basis: 48%;
}
.form-mid-w3ls{
    flex-basis:31.4%;
    -webkit-flex-basis: 31.4%;
}

select.form-control, .form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3ls input[type="email"],.form-mid-w3ls input[type="text"]{
    outline: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    padding: .7em 1em .8em 0em;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 16px;
    display: inline-block;
    background: none;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
select.form-control {
    height: 43px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
     color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}	
.sub-agile-info h6 {
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
font-family: 'Barlow', sans-serif;
}
 .form-group-three {
  padding: 1em 0em;
}
.form-inn,.iner-left {
    display: inline-flex;
}
.iner-left label {
    font-size: 16px;
    margin-right: 15px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 32px;
}
select.opt-select {
    outline: none;
    height: 32px;
    padding: 0px 3px;
    font-size: 13px;
    background:none;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
}
option{background:#8a8a8a;
}
.set-reset input[type="submit"], .set-reset input[type="reset"],
.set-reset button[type="submit"],.set-reset button[type="button"], .set-reset button[type="reset"] {
    text-transform: capitalize;
    background: #fff;
    color:#ff5e00;
    padding: 0.5em 4em;
    border: none;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
    outline: none;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.set-reset input[type="submit"], .set-reset button[type="submit"] {
    margin-right: 1.5em;
    background:#ff5e00;
	color:#fff;
}
.set-reset input[type="reset"]:hover, .set-reset button[type="reset"]:hover {
  background:#ff5e00;
    color: #fff;
}
.set-reset input[type="submit"]:hover, .set-reset button[type="submit"]:hover {
   background: #fff;
    color:#ff5e00;
}
.copy {
    padding:30px 0px;
}
.copy p {
	font-size:14px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}
.copy p a {
    color: #33e8ff;
    text-decoration: none;
}
.copy p a:hover {
    color: #fff;
}
/*--responsive--*/
@media(max-width:1920px){
h1.header-w3ls {
    font-size: 67px;
    padding: 35px 0px 32px;
}
.info-agile-persnal h3 {
    font-size: 35px;
}	
}
@media(max-width:1680px){

h1.header-w3ls {
    font-size: 62px;
    padding: 33px 0px 29px;
}
.info-agile-persnal h3 {
    font-size: 33px;
}	
}
@media(max-width:1600px){
	h1.header-w3ls {
    font-size: 57px;
    padding: 31px 0px 25px;
	}
	.info-agile-persnal h3 {
    font-size: 30px;
	}
}
@media(max-width:1440px){
	
	h1.header-w3ls {
    letter-spacing: 6px;
}
.info-agile-persnal h3 {
    letter-spacing: 2px;
}
}
@media(max-width:1366px){
	.art-bothside {
    width: 70%;
    padding: 1.5em 2em 2.5em;
	}
	.info-agile-persnal h3 {
    font-size: 28px;
}
}
@media(max-width:1280px){
	.art-bothside {
    width: 74%;
	}
	h1.header-w3ls {
    font-size: 55px;
	}
}
@media(max-width:1080px){
select.form-control, .form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3ls input[type="email"], .form-mid-w3ls input[type="text"] {
    padding: .7em;
    font-size: 14px;
    margin: 0px 0px 11px;
}	
.info-agile-persnal h3 {
    margin: 7px 0px;
    letter-spacing: 2px;
}
}
@media(max-width:1050px){
.art-bothside {
    width: 80%;
}
.form-group-three {
    padding: .8em 0em;
}	
select.form-control {
    height: 37px;
}
}
@media(max-width:1024px){
    .set-reset input[type="submit"], .set-reset input[type="reset"],
    .set-reset button[type="submit"],.set-reset button[type="button"], .set-reset button[type="reset"] {
    font-size: 1em;
	}
	.sub-agile-info h6 {
    font-size: 17px;
	}
}
@media(max-width:991px){
	.iner-left label {
    font-size: 15px;
    letter-spacing: 1px;
}
.info-agile-persnal h3 {   
 font-size: 27px;
   letter-spacing: 1px;
}
}
@media(max-width:900px){
    .set-reset input[type="submit"], .set-reset input[type="reset"],
    .set-reset button[type="submit"],.set-reset button[type="button"], .set-reset button[type="reset"] {
    padding: 0.5em 3em;
	}
	select.opt-select {
    height: 28px;
	}
}
@media(max-width:800px){
	.sub-agile-info h6 {
    font-size: 16px;
}
.info-agile-persnal h3 {
    font-size: 25px;
}

select.form-control, .form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3ls input[type="email"], .form-mid-w3ls input[type="text"] {

    letter-spacing: 1px;
}
}
@media(max-width:768px){
	h1.header-w3ls {
    letter-spacing: 4px;
	font-size: 51px;
}
 .art-bothside {
    width: 82%;
    padding: 1.5em 1.5em 2em;
}
select.form-control, .form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3ls input[type="email"], .form-mid-w3ls input[type="text"] {
    padding: .6em;
}
}
@media(max-width:767px){
	.set-reset input[type="submit"], 
	.set-reset input[type="reset"],
	.set-reset button[type="submit"],.set-reset button[type="button"], 
	.set-reset button[type="reset"] {
    margin-top: .8em;
	}
	.copy p {
    letter-spacing: 2px;
}
}
@media(max-width:736px){
select.form-control, .form-left-w3ls input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3ls input[type="email"], .form-mid-w3ls input[type="text"] {
    margin: 0px 0px 9px;
}	
.iner-left label {
    font-size: 14px;
	margin-right: 10px;
}
.set-reset input[type="submit"], .set-reset input[type="reset"], .set-reset button[type="submit"],.set-reset button[type="button"], .set-reset button[type="reset"] {
    padding: 0.5em 2em;
}
}
@media(max-width:667px){
	.art-bothside {
    padding: 1.3em 1.5em 1.8em;
}
h1.header-w3ls {
    font-size: 51px;
    padding: 26px 0px 22px;
}
}
@media(max-width:640px){
	.copy {
    padding: 26px 0px;
}
.copy p {
    letter-spacing: 1px;
}
}
@media(max-width:600px){
 .form-group-three {
    flex-direction: column;
}
.form-mid-three-w3l {
    margin: 20px 0px;
}
.sub-agile-info {
    margin-top: 17px;
}
}
@media(max-width:568px){
.set-reset input[type="submit"], .set-reset input[type="reset"],
.set-reset button[type="submit"],.set-reset button[type="button"], .set-reset button[type="reset"] {
    font-size: .9em;
}
.sub-agile-info h6 {
    font-size: 15px;
}	
}
@media(max-width:480px){
	.form-group, .form-group-three {
    flex-direction: column;
}
.copy p {
    line-height: 28px;
}
}
@media(max-width:440px){
h1.header-w3ls {
    letter-spacing: 2px;
    font-size: 48px;
    padding: 22px 0px 22px;
}
.art-bothside {
    padding: 1.3em 1em 1.8em;
}	
}
@media(max-width:414px){
.sub-agile-info {
    margin-top: 11px;
}
.info-agile-persnal h3 {
    font-size: 23px;
}	
}
@media(max-width:384px){
	h1.header-w3ls {
    letter-spacing: 1px;
    font-size: 43px;
	}
}
@media(max-width:375px){
	.form-mid-three-w3l {
    margin: 16px 0px;
}
}
@media(max-width:320px){
	h1.header-w3ls {
    font-size: 36px;
}
.info-agile-persnal h3 {
    margin: 4px 0px;
}
}
/*--//responsive--*/